.header{
    width : 600px;
    border-radius: 10px;
    margin : 0 auto;
    background-color :rgb(24, 166, 209);
    height : 60px;
}
 
.header_titre {
    color : white;
    text-align : center;
    padding-top: 10px;
    margin-bottom : -20px;
    font-size : 28px;
}
 
body {
    margin : 0;
}

.menu-deroulant {
  border-radius: 50PX; 
}
 
 
.categories{
    width : 600px;
    margin : 0 auto;
    margin-top : 30px;
    border-collapse : collapse;  
}
 
th {
    border: 2px solid black;
    padding : 10px;
}
 
td {
    border : 2px solid black;
    text-align : center;
    padding : 10px;
}
 